body {background-color: #c4f5e1;}
body  {margin-left: 10%; margin-right: 10%;font-family: Garamond; font: size 16px;px}
h1 {color: #52a886;}
h2 {color:#52a886}
h2 {font-size: large;}
h3 {color:#52a886}
h3 {font-size: large;}


a { color: #003366; text-decoration: none; }
/* visited links */
a:visited { color: #660066; text-decoration: none; }
/* mouse-over */
a:hover { color: black; text-decoration: underline}
/* active links*/
a:active { color: #003366 ; text-decoration: }


