body { margin-left: 10%; margin-right: 10%; font-family:Arial; font-size: 18px; color: #c066ed; text-align: justify }
p.head1 { color: #3541b0; font-size: 28px; }
p.head2 { color: #3541b0; font-size: 20px; }
img { margin-left: auto; }
img { margin-right: auto;}
a { color: #003366; text-decoration: none; }
a:visited { color: #660066; text-decoration: none; }
a:hover { color: black; text-decoration: underline; }
a:active { color: black ; text-decoration: none ; }
