font-style: Arial | Verdana | Helvetica | sans-serif;

h1 {color: #000066}

a {color: #003366; text-decoration: none;}

a:hover {color: #003366; text-decoration: underline;}

a:visited {color: #660066;}

margin-left: 10%;

margin-right: 10%


