
 body {background-color:rgb(239, 232, 253); }
  body {margin-left: 11%; margin-right: 11%;}
  body {text-align: justify;}
  body {font-size: 16px;}
  body {font-family:'Times New Roman', Times, serif;}
  body { color: rgb(0, 0, 0)}
 
h1{color:rgba(149, 71, 180, 0.993);}
   h1 { font-family:'Times New Roman', Times, serif}
h2 {color: rgba(149, 71, 180, 0.993);}
{ font-family:'Times New Roman', Times, serif}

 
h3 {color: rgba(149, 71, 180, 0.993);}
p {font-family: 'Times New Roman'; }
p {}




a { color: #660066; text-decoration: none; }
/* visited links */
a:visited { color: #660066; text-decoration: none; }
/* mouse-over */
a:hover { color:#003366; text-decoration: underline}
/* active links*/
a:active { color: #003366 ; text-decoration: none } 
